{{>nav}}

<h1>Creador de Productos: Mercado Online</h1>

<form action="/editproductos" method="post" enctype="multipart/form-data">
    <input placeholder="Ingresar Nombre" type="text" name="nombre">
    <input placeholder="Ingresar Precio" type="number" name="precio">
    <input placeholder="Ingresar Stock" type="number" name="stock">
    <input type="file" name="url" accept="image/x-png,image/gif,image/jpeg">
    <button type="submit">Crear Producto</button>

</form>

<div class="row justify-content-around">
  {{#each listadoProductos}}
    <div class="card" style="width: 18rem;">
      <img src="./img/products{{url}}" class="card-img-top" alt="">
       <div class="card-body">
       
  <form action="/editproductos?_method=PUT" method="post">
   <input type="hidden" name="id" value={{id}}>
    <h5 class="card-title">{{nombre}}</h5>
      <input name="nombre" placeholder={{nombre}}>
    <h6>Precio: {{precio}}</h6>
      <input name="precio" placeholder={{precio}}>
    <h6>Cantidad de Stock: {{stock}}</h6>
      <input name="stock" placeholder={{stock}}>
   <button type="submit">Actualizar</button>
  </form>
      
   <form action="/editproductos?_method=DELETE" method="post">
    <input type="hidden" name="id" value={{id}}>
     <button type="submit">Borrar</button>
   </form>
   </div>
  </div> 
 {{/each}}
</div>